
<form class="form-horizontal">

	<div class="row">
		<div class="col-xs-3">
			<div class="control-group">
			    <label class="control-label">Cotización</label>
			    <div class="controls">
			      <input type="text" 
			             cam-variable-name="cotizacion"
			             readonly="true" 
			             class="form-control" />      
			    </div>
		  	</div>
	  	</div>
	  	
	  	<div class="col-xs-3">
		  <div class="control-group">
			    <label class="control-label">Cliente</label>
			    <div class="controls">
			      <input type="text" 
			             cam-variable-name="cliente"
			             readonly="true" 
			             class="form-control" />      
			    </div>
		  	</div>
	  	</div>
	  	
	  	<div class="col-xs-3">
			  <div class="control-group">
				    <label class="control-label">Valor presupuestado (USD)</label>
				    <div class="controls">
				      <input type="text" 
				             cam-variable-name="valorPresupuesto"
				             readonly="true" 
				             class="form-control" />      
				    </div>
			  	</div>
	  	</div>  
	  	
	  	<div class="col-xs-3">
			  <div class="control-group">
				    <label class="control-label">Valor/Hora (USD)</label>
				    <div class="controls">
				      <input type="text" 
				             cam-variable-name="valorHora"
				             ng-model="ngValorHora"				             
				             readonly="true" 
				             class="form-control" />
				    </div>
			  	</div>
	  	</div>  
	  	
	    
	</div>
	
	<hr>
	<br>
	<h4>
		<strong>
			Cierre de propuesta.
		</strong>	  
	</h4>	
	
	<div class="row">
		<div class="col-xs-4">
			<div class="control-group">
			 	<label class="control-label">Fecha de inicio</label>
				<p class="input-group">		
				<input id="proyCerrFechInicio"
					   type="text"
				       cam-variable-name="proyCerrFechInicio"
				       cam-variable-type="Date"
				       ng-model="dataCronoCierrePropuesta.proyCerrFechInicio"
				       class="form-control"
				       datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"  
				       is-open="dateFieldOpened" />
				
				  <span class="input-group-btn">
				    <button type="button"
				            class="btn btn-default"
				            ng-click="open($event)">
				      <i class="glyphicon glyphicon-calendar"></i>
				    </button>
				  </span>
				</p>
			</div>	
		</div>	
		
		<div class="col-xs-4">
			<div class="control-group">
			 	<label class="control-label">Fecha de FIN</label>
				<p class="input-group">		
				<input id="proyCerrFechFin"
					   type="text"
				       cam-variable-name="proyCerrFechFin"
				       ng-model="dataCronoCierrePropuesta.proyCerrFechFin"
				       cam-variable-type="Date"
				       class="form-control"
				       datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
				       is-open="dateFieldOpened2" />
				
				  <span class="input-group-btn">
				    <button type="button"
				            class="btn btn-default"
				            ng-click="open2($event)">
				      <i class="glyphicon glyphicon-calendar"></i>
				    </button>
				  </span>
				</p>
			</div>	
		</div>
		
		<div class="col-xs-4">
			  <div class="control-group">
				    <label class="control-label">Horas totales</label>
				    <div class="controls">
				      <input id="proyCerrHoras"
				      	     type="number" 
				             ng-model="dataCronoCierrePropuesta.proyCerrHoras"
				             class="form-control" />      
				    </div>
			  	</div>
	  	</div>			
	</div>
	
			
	<hr>
	<br>
	<h3>
		<strong>
			Resumen de la etapa de cierre de propuesta
		</strong>	  
	</h3>	
	
	<div class="row">
		<div class="col-xs-6">
			  
			<div class="control-group">
	  			<div class="controls">	  		
	  			<h4>Total de horas: {{dataCronoCierrePropuesta.proyCerrHoras}}</h4>
	  			<h4>Costo total: {{(dataCronoCierrePropuesta.proyCerrHoras) * (ngValorHora) | number}}</h4>
	  		</div>
	  	</div>	  
	</div>		
</div>

<hr>
<br>
<p class="text-center"> <Strong>Detalle costo/hora del proceso desarrollo espacio.</Strong> </p>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr class="bg-primary">
      <th scope="col">Etapas del proceso desarrollo espacio</th>
      <th scope="col">Horas (Hs)</th>
      <th scope="col">Costo (USD)</th>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-secondary">
      <th scope="row">Investigación y desarrollo</th>
      <td>{{jsonCronInvesIdes.anMarcaHoras + jsonCronInvesIdes.desConcepHoras + jsonCronInvesIdes.desPropHoras + jsonCronInvesIdes.ajInterHoras}}</td>
      <td>{{(jsonCronInvesIdes.anMarcaHoras + jsonCronInvesIdes.desConcepHoras + jsonCronInvesIdes.desPropHoras + jsonCronInvesIdes.ajInterHoras) * (ngValorHora) | number}}</td>      
    </tr>
    <tr class="bg-secondary">
      <th scope="row">Presupuestación</th>
      <td>{{jsonCronoPresupuestacion.scoutProdHoras + jsonCronoPresupuestacion.selecProvHoras}}</td>
      <td>{{(jsonCronoPresupuestacion.scoutProdHoras + jsonCronoPresupuestacion.selecProvHoras) * (ngValorHora) | number}}</td>
    </tr>
    <tr class="bg-secondary">
      <th scope="row">Cierre de propuesta</th>
      <td>{{dataCronoCierrePropuesta.proyCerrHoras}}</td>
      <td>{{dataCronoCierrePropuesta.proyCerrHoras * (ngValorHora) | number}}</td>
    </tr>
    <tr class="bg-danger">
      <th scope="row"><strong>Total</strong></th>
      <td>{{jsonCronInvesIdes.anMarcaHoras + jsonCronInvesIdes.desConcepHoras + jsonCronInvesIdes.desPropHoras + jsonCronInvesIdes.ajInterHoras + jsonCronoPresupuestacion.scoutProdHoras + jsonCronoPresupuestacion.selecProvHoras + dataCronoCierrePropuesta.proyCerrHoras}}</td>
      <td>{{(jsonCronInvesIdes.anMarcaHoras + jsonCronInvesIdes.desConcepHoras + jsonCronInvesIdes.desPropHoras + jsonCronInvesIdes.ajInterHoras + jsonCronoPresupuestacion.scoutProdHoras + jsonCronoPresupuestacion.selecProvHoras + dataCronoCierrePropuesta.proyCerrHoras) * (ngValorHora) | number}}</td>
    </tr>
  </tbody>
</table>

	
  <script cam-script type="text/form-script">


camForm.on('form-loaded', function() {
  // tell the form SDK to fetch the json variable named 'customer'
  camForm.variableManager.fetchVariable('jsonCronInvesIdes');
});

camForm.on('variables-fetched', function() {
  // work with the variable (bind it to the current AngularJS $scope)
  $scope.jsonCronInvesIdes = camForm.variableManager.variableValue('jsonCronInvesIdes');
});


camForm.on('form-loaded', function() {
  // tell the form SDK to fetch the json variable named 'jsonCronoPresupuestacion'
  camForm.variableManager.fetchVariable('jsonCronoPresupuestacion');
});

camForm.on('variables-fetched', function() {
  // work with the variable (bind it to the current AngularJS $scope)
  $scope.jsonCronoPresupuestacion = camForm.variableManager.variableValue('jsonCronoPresupuestacion');
});








	
	var dataCronoCierrePropuesta = $scope.dataCronoCierrePropuesta={};
	
	camForm.on('form-loaded', function() {

    // declare variable 'customerData' incuding metadata for serialization
    camForm.variableManager.createVariable({
      name: 'dataCronoCierrePropuesta',
      type: 'Object',
      value: dataCronoCierrePropuesta,
      valueInfo: {
        // indicate that object is serialized as json
        serializationDataFormat: 'application/json',
        // provide classname of java object to map to
        objectTypeName: 'org.camunda.bpm.menini_nicola.mn_desarrollo_espacio.modelo.CronoCierrePropuesta'
						 
      }
    });

  });
  	$scope.open = function($event) {
    	$event.preventDefault();
    	$event.stopPropagation();

    	$scope.dateFieldOpened = true;
  	};

	$scope.open2 = function($event) {
    	$event.preventDefault();
    	$event.stopPropagation();

    	$scope.dateFieldOpened2 = true;
  	};
	
  </script>
</form>