
<form class="form-horizontal">

	<div class="row">
		<div class="col-xs-3">
			<div class="control-group">
			    <label class="control-label">Cotización</label>
			    <div class="controls">
			      <input type="text" 
			             cam-variable-name="cotizacion"
			             readonly="true" 
			             class="form-control" />      
			    </div>
		  	</div>
	  	</div>
	  	
	  	<div class="col-xs-3">
		  <div class="control-group">
			    <label class="control-label">Cliente</label>
			    <div class="controls">
			      <input type="text" 
			             cam-variable-name="cliente"
			             readonly="true" 
			             class="form-control" />      
			    </div>
		  	</div>
	  	</div>
	  	
	  	<div class="col-xs-3">
			  <div class="control-group">
				    <label class="control-label">Valor presupuestado (USD)</label>
				    <div class="controls">
				      <input type="text" 
				             cam-variable-name="valorPresupuesto"
				             readonly="true" 
				             class="form-control" />      
				    </div>
			  	</div>
	  	</div>  
	  	
	  	<div class="col-xs-3">
			  <div class="control-group">
				    <label class="control-label">Valor/Hora (USD)</label>
				    <div class="controls">
				      <input type="text" 
				             cam-variable-name="valorHora"
				             ng-model="ngValorHora"				             
				             readonly="true" 
				             class="form-control" />
				    </div>
			  	</div>
	  	</div>  
	  	
	    
	</div>
	
	<hr>
	<br>
	<h4>
		<strong>
			Análisis de la marca, relevamiento, dinámicas, conceptualización del público y mercado.
		</strong>	  
	</h4>	
	
	<div class="row">
		<div class="col-xs-4">
			<div class="control-group">
			 	<label class="control-label">Fecha de inicio</label>
				<p class="input-group">		
				<input id="anMarcaFechInicio"
					   type="text"
				       cam-variable-name="anMarcaFechInicio"
				       cam-variable-type="Date"
				       ng-model="dataCronInvesIdes.anMarcaFechInicio"
				       class="form-control"
				       datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"  
				       is-open="dateFieldOpened" />
				
				  <span class="input-group-btn">
				    <button type="button"
				            class="btn btn-default"
				            ng-click="open($event)">
				      <i class="glyphicon glyphicon-calendar"></i>
				    </button>
				  </span>
				</p>
			</div>	
		</div>	
		
		<div class="col-xs-4">
			<div class="control-group">
			 	<label class="control-label">Fecha de FIN</label>
				<p class="input-group">		
				<input id="anMarcaFechFin"
					   type="text"
				       cam-variable-name="anMarcaFechFin"
				       ng-model="dataCronInvesIdes.anMarcaFechFin"
				       cam-variable-type="Date"
				       class="form-control"
				       datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
				       is-open="dateFieldOpened2" />
				
				  <span class="input-group-btn">
				    <button type="button"
				            class="btn btn-default"
				            ng-click="open2($event)">
				      <i class="glyphicon glyphicon-calendar"></i>
				    </button>
				  </span>
				</p>
			</div>	
		</div>
		
		<div class="col-xs-4">
			  <div class="control-group">
				    <label class="control-label">Horas totales</label>
				    <div class="controls">
				      <input id="anMarcaHoras"
				      	     type="number" 
				             ng-model="dataCronInvesIdes.anMarcaHoras"
				             class="form-control" />      
				    </div>
			  	</div>
	  	</div>
			
	</div>
	
	<hr>
	<br>
	<h4>
		<strong>
			Desarrollo del concepto.
		</strong>	  
	</h4>
	
	<div class="row">
		<div class="col-xs-4">
			<div class="control-group">
			 	<label class="control-label">Fecha de inicio</label>
				<p class="input-group">		
				<input id="desConcepFechInicio"
					   type="text"
				       cam-variable-name="desConcepFechInicio"
				       ng-model="dataCronInvesIdes.desConcepFechInicio"
				       cam-variable-type="Date"
				       class="form-control"
				       datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
				       is-open="dateFieldOpened3" />
				
				  <span class="input-group-btn">
				    <button type="button"
				            class="btn btn-default"
				            ng-click="open3($event)">
				      <i class="glyphicon glyphicon-calendar"></i>
				    </button>
				  </span>
				</p>
			</div>	
		</div>	
		
		<div class="col-xs-4">
			<div class="control-group">
			 	<label class="control-label">Fecha de FIN</label>
				<p class="input-group">		
				<input id="desConcepFechFin"
				       type="text"
				       cam-variable-name="desConcepFechFin"
				       ng-model="dataCronInvesIdes.desConcepFechFin"
				       cam-variable-type="Date"
				       class="form-control"
				       datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
				       is-open="dateFieldOpened4" />
				
				  <span class="input-group-btn">
				    <button type="button"
				            class="btn btn-default"
				            ng-click="open4($event)">
				      <i class="glyphicon glyphicon-calendar"></i>
				    </button>
				  </span>
				</p>
			</div>	
		</div>	
		
		<div class="col-xs-4">
			  <div class="control-group">
				    <label class="control-label">Horas totales</label>
				    <div class="controls">
				      <input id="desConcepHoras"
				      		 type="number" 
				             ng-model="dataCronInvesIdes.desConcepHoras"
				             class="form-control" />      
				    </div>
			  	</div>
	  	</div>
	</div>
	
	
	<hr>
	<br>
	<h4>
		<strong>
			Desarrollo de propuesta.
		</strong>	  
	</h4>
	
	<div class="row">
		<div class="col-xs-4">
			<div class="control-group">
			 	<label class="control-label">Fecha de inicio</label>
				<p class="input-group">		
				<input id="desPropFechInicio"
					   type="text"
				       cam-variable-name="desPropFechInicio"
				       ng-model="dataCronInvesIdes.desPropFechInicio"
				       cam-variable-type="Date"
				       class="form-control"
				       datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
				       is-open="dateFieldOpened5" />
				
				  <span class="input-group-btn">
				    <button type="button"
				            class="btn btn-default"
				            ng-click="open5($event)">
				      <i class="glyphicon glyphicon-calendar"></i>
				    </button>
				  </span>
				</p>
			</div>	
		</div>	
		
		<div class="col-xs-4">
			<div class="control-group">
			 	<label class="control-label">Fecha de FIN</label>
				<p class="input-group">		
				<input id="desPropFechFin"
					   type="text"
				       cam-variable-name="desPropFechFin"
				       ng-model="dataCronInvesIdes.desPropFechFin"
				       cam-variable-type="Date"
				       class="form-control"
				       datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
				       is-open="dateFieldOpened6" />
				
				  <span class="input-group-btn">
				    <button type="button"
				            class="btn btn-default"
				            ng-click="open6($event)">
				      <i class="glyphicon glyphicon-calendar"></i>				      
				    </button>
				  </span>
				</p>
			</div>	
		</div>	
		
		<div class="col-xs-4">
			  <div class="control-group">
				    <label class="control-label">Horas totales</label>
				    <div class="controls">
				      <input id="desPropHoras"
				      		 type="number" 
				             ng-model="dataCronInvesIdes.desPropHoras"
				             class="form-control" />      
				    </div>
			  	</div>
	  	</div>
	</div>
	
	
	
	<hr>
	<br>
	<h4>
		<strong>
			Ajuste del interiorismo.
		</strong>	  
	</h4>
	
	<div class="row">
		<div class="col-xs-4">
			<div class="control-group">
			 	<label class="control-label">Fecha de inicio</label>
				<p class="input-group">		
				<input id="ajInterFechInicio"
					   type="text"
				       cam-variable-name="ajInterFechInicio"
				       ng-model="dataCronInvesIdes.ajInterFechInicio"
				       cam-variable-type="Date"
				       class="form-control"
				       datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
				       is-open="dateFieldOpened7" />
				
				  <span class="input-group-btn">
				    <button type="button"
				            class="btn btn-default"
				            ng-click="open7($event)">
				      <i class="glyphicon glyphicon-calendar"></i>
				    </button>
				  </span>
				</p>
			</div>	
		</div>	
		
		<div class="col-xs-4">
			<div class="control-group">
			 	<label class="control-label">Fecha de FIN</label>
				<p class="input-group">		
				<input id="ajInterFechFin"
					   type="text"
				       cam-variable-name="ajInterFechFin"
				       cam-variable-type="Date"
				       ng-model="dataCronInvesIdes.ajInterFechFin"
				       class="form-control"
				       datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
				       is-open="dateFieldOpened8" />
				
				  <span class="input-group-btn">
				    <button type="button"
				            class="btn btn-default"
				            ng-click="open8($event)">
				      <i class="glyphicon glyphicon-calendar"></i>
				    </button>
				  </span>
				</p>
			</div>	
		</div>	
		
		<div class="col-xs-4">
			  <div class="control-group">
				    <label class="control-label">Horas totales</label>
				    <div class="controls">
				      <input id="ajInterHoras"
				      		 type="number" 
				             ng-model="dataCronInvesIdes.ajInterHoras"
				             class="form-control" />				       
				    </div>
			  	</div>
	  	</div>
	</div>
	
		
	
	<hr>
	<br>
	<h3>
		<strong>
			Resumen de la etapa de investigación y desarrollo
		</strong>	  
	</h3>	
	
	<div class="row">
		<div class="col-xs-6">
			  
			<div class="control-group">
	  			<div class="controls">	  		
	  			<h4>Total de horas: {{dataCronInvesIdes.anMarcaHoras + dataCronInvesIdes.desConcepHoras + dataCronInvesIdes.desPropHoras + dataCronInvesIdes.ajInterHoras}}</h4>
	  			<h4>Costo total: {{(dataCronInvesIdes.anMarcaHoras + dataCronInvesIdes.desConcepHoras + dataCronInvesIdes.desPropHoras + dataCronInvesIdes.ajInterHoras) * (ngValorHora) | number}}</h4>
	  		</div>
	  	</div>	  
	</div>
		
</div>

	
  <script cam-script type="text/form-script">
 	
	var dataCronInvesIdes = $scope.dataCronInvesIdes={};
	
	   camForm.on('form-loaded', function() {
       camForm.variableManager.createVariable({
        name: 'jsonCronInvesIdes',
        type: 'json',
        value: dataCronInvesIdes
      });
    });



	
	camForm.on('form-loaded', function() {

    // declare variable 'customerData' incuding metadata for serialization
    camForm.variableManager.createVariable({
      name: 'dataCronInvesIdes',
      type: 'Object',
      value: dataCronInvesIdes,
      valueInfo: {
        // indicate that object is serialized as json
        serializationDataFormat: 'application/json',
        // provide classname of java object to map to
        objectTypeName: 'org.camunda.bpm.menini_nicola.mn_desarrollo_espacio.modelo.CronoInvesIdes'
						 
      }
    });

  });

	


  	$scope.open = function($event) {
    	$event.preventDefault();
    	$event.stopPropagation();

    	$scope.dateFieldOpened = true;
  	};

	$scope.open2 = function($event) {
    	$event.preventDefault();
    	$event.stopPropagation();

    	$scope.dateFieldOpened2 = true;
  	};

	$scope.open3 = function($event) {
    	$event.preventDefault();
    	$event.stopPropagation();

    	$scope.dateFieldOpened3 = true;
  	};

	$scope.open4 = function($event) {
    	$event.preventDefault();
    	$event.stopPropagation();

    	$scope.dateFieldOpened4 = true;
  	};

	$scope.open5 = function($event) {
    	$event.preventDefault();
    	$event.stopPropagation();

    	$scope.dateFieldOpened5 = true;
  	};

	$scope.open6 = function($event) {
    	$event.preventDefault();
    	$event.stopPropagation();

    	$scope.dateFieldOpened6 = true;
  	};

	$scope.open7 = function($event) {
    	$event.preventDefault();
    	$event.stopPropagation();

    	$scope.dateFieldOpened7 = true;
  	};

	$scope.open8 = function($event) {
    	$event.preventDefault();
    	$event.stopPropagation();

    	$scope.dateFieldOpened8 = true;
  	};

	

  </script>
</form>